{% extends 'QuarryIQ/base.html' %}

{% block content %}

<title>FarSeer - Information</title>

<h2>FarSeer Forecast - Information</h2>
<h4>Project: {{ project_name }} {{ project_time_period }}</h4>
<h4>Quarry: {{ quarry_name }}</h4>


<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>



<div class="table-container" style="max-width: 800px;">
    <table class="table">
        <tr>
            <td style="vertical-align: middle;">Starting Month</td>
            <td style="vertical-align: middle;">
                <select id="starting_month" class="custom-select">
                    {% for month in months %}
                        <option value="{{ month }}" style="text-align: center;" {% if month == starting_month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle;">Final Month</td>
            <td style="vertical-align: middle;">
                <select id="final_month" class="custom-select">
                    {% for month in months %}
                        <option class="custom-select" value="{{ month }}" style="text-align: center;" {% if month == final_month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
</div>



<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>




    <table class="table" id="table">
        <thead>
            <tr>
                <th style="vertical-align: middle;">Product</th>
                <th style="vertical-align: middle;">Opening Stock at Starting Month [t]</th>
                <th style="vertical-align: middle;">Min. Closing Stock at Final Month [t]</th>
            </tr>
        </thead>
        <tbody>
            {% if FarSeer_stockInfo_df.empty %}
                {% for product in unique_products %}
                <tr>
                    <td style="vertical-align: middle;">{{ product }}</td>
                    <td style="vertical-align: middle;" class="opening-stock-cell" contenteditable="true" onkeypress="return isNumber(event)"></td>
                    <td style="vertical-align: middle;" class="min-closing-stock-cell" contenteditable="true" onkeypress="return isNumber(event)"></td>
                </tr>
                {% endfor %}
            {% else %}
                {% for index, row in FarSeer_stockInfo_df.iterrows %}
                <tr>
                    <td style="vertical-align: middle;">{{ row.Product }}</td>
                    <td style="vertical-align: middle;" class="opening-stock-cell" contenteditable="true" onkeypress="return isNumber(event)">{{ row.Stock_Starting_Month }}</td>
                    <td style="vertical-align: middle;" class="min-closing-stock-cell" contenteditable="true" onkeypress="return isNumber(event)">{{ row.Stock_Final_Month }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>
<table><tr><th class="empty"></th><th class="empty"></th></tr></table>


<button class='btn btn-warning' style="width: 250px;" id="submit-button" type="submit">Save</button>


<input type="hidden" id="project_id" value="{{ project_id }}">
<input type="hidden" id="quarry_id" value="{{ quarry_id }}">


<script>

function isNumber(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;

    if (charCode === 45) { // If the character is "-"
        return false; // Prevent input of "-"
    } else if (charCode === 8) { // If the character is backspace
        return true; // Allow backspace
    } else if (charCode !== 43 && (charCode < 48 || charCode > 57)) {
        return false; // Only allow digits and backspace
    }
    return true;
}


document.getElementById('submit-button').addEventListener('click', function() {
    var startingMonth = document.getElementById('starting_month').selectedIndex;
    var finalMonth = document.getElementById('final_month').selectedIndex;

    if (finalMonth < startingMonth) {
        alert('Final Month must be greater than Starting Month.');
        return; // Exit the function without calling sendDataToBackend
    }

    sendDataToBackend(); // Call sendDataToBackend if the condition is met
});




// Function to extract data from the table
function extractData() {
    var tableData = [];
    var table = document.getElementById('table');
    var headerRow = table.querySelector('thead tr');
    var rows = table.querySelectorAll('tbody tr');

    // Extract headers
    var headers = [];
    var headerCells = headerRow.querySelectorAll('th');
    headerCells.forEach(function(cell) {
        headers.push(cell.textContent.trim());
    });
    tableData.push(headers);

    // Extract data rows
    rows.forEach(function(row) {
        if (row.classList.contains('empty-row')) {
            return; // Exit the loop if an empty row is encountered
        }
        var rowData = [];
        var cells = row.querySelectorAll('td');
        cells.forEach(function(cell, index) {
            rowData.push(cell.textContent.trim());
            // Insert an additional cell after the first cell in the row with class 'max-capacity-cell' or 'coefficient-cell'
            if ((row.classList.contains('max-capacity-cell') || row.classList.contains('coefficient-cell')) && index === 0) {
                rowData.push(''); // Add an empty cell
            }
        });
        tableData.push(rowData);
    });

    // Return the extracted data
    return tableData;
}

// Function to extract selected option values from the dropdown lists
function extractOptionValues() {
    var startingMonth = document.getElementById('starting_month').value;
    var finalMonth = document.getElementById('final_month').value;
    return {
        startingMonth: startingMonth,
        finalMonth: finalMonth
    };
}


function sendDataToBackend() {
    // Call functions to get data
    var tableData = extractData(); // Extracted table data
    var optionValues = extractOptionValues(); // Extracted option values

    // Stringify the data
    var data = {
        'tableData': tableData,
        'startingMonth': optionValues.startingMonth,
        'finalMonth': optionValues.finalMonth
    };

    // Stringify the data
    var jsonData = JSON.stringify(data);

    // Retrieve project_id and quarry_id
    const project_id = document.getElementById('project_id').value.trim();
    const quarry_id = document.getElementById('quarry_id').value.trim();

    // Construct the URL
    const url = `/Existing_Projects/Data_Portal/FarSeer_Portal/Informations_bridge/${project_id}/${quarry_id}/`;

    // Get CSRF token
    const csrftoken = getCookie('csrftoken');

    // Create a new XMLHttpRequest
    const xhr = new XMLHttpRequest();

    // Open the request
    xhr.open('POST', url, true);

    // Set request headers
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);

    // Define the onload function
    xhr.onload = function () {
        if (xhr.status === 200) {
            console.log('Data successfully sent to the backend!');
            // Redirect to Product list page
            window.location.href = `/Existing_Projects/Data_Portal/FarSeer_Portal/Forecast/${project_id}/${quarry_id}/`;
        } else {
            console.error('Error:', xhr.status);
        }
    };

    // Send the JSON data
    xhr.send(jsonData);
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

</script>

{% endblock content %}